.spyproject/
.Rproj.user/
.git/
git_exclude/
Bitmap.RData
*.pkl
*.RData
*.RDataTmp
*.Rhistory
# *.Ruserdata
*.spydata
# *.Rproj
udp_expansion_matt/data/inputs/Public_Housing_Buildings.csv.gz
udp_expansion_matt/census_data.csv
udp_expansion_matt/data/outputs/databases/zillow_database_2018.csv
udp_expansion_matt/data/outputs/databases/pums.csv
udp_expansion_matt/data/outputs/databases/LosAngeles_database.csv
udp_expansion_matt/data/outputs/databases/lihtc.csv
udp_expansion_matt/data/outputs/databases/hinc_columns.csv
udp_expansion_matt/data/outputs/databases/early_backup.csv
udp_expansion_matt/data/outputs/databases/df.csv
udp_expansion_matt/data/outputs/databases/all_cities.csv
states_final.RData
st_48_51.RData
!sp_sates_1_thru_47.RData
!zillow_database_2018.RData
!udp_expansion_matt/data/R_data/*.RData