git_ignore/
*.spyproject/
*.stswp
!Stata/*.stswp
# *.csv
*.pkl
# *.RData
*.RDataTmp
*.Rhistory
.Rproj.user/
udp_expansion_matt/data/inputs/Public_Housing_Buildings.csv.gz
udp_expansion_matt/census_data.csv
udp_expansion_matt/data/outputs/databases/zillow_database_2018.csv
udp_expansion_matt/data/outputs/databases/pums.csv
udp_expansion_matt/data/outputs/databases/LosAngeles_database.csv
udp_expansion_matt/data/outputs/databases/lihtc.csv
udp_expansion_matt/data/outputs/databases/hinc_columns.csv
udp_expansion_matt/data/outputs/databases/early_backup.csv
udp_expansion_matt/data/outputs/databases/df.csv
udp_expansion_matt/data/outputs/databases/all_cities.csv
!sp_sates_1_thru_47.RData
!zillow_database_2018.RData
!udp_expansion_matt/data/R_data/*.RData
udp_expansion_matt/data/outputs/databases/all_cities_2018.csv
!st_thru_51.RData
!census_zillow.csv
# Ignore all files containing "Copy" in their filename
*Copy*
Feb_13_2024_1_00_PM.RData
2_17.RData
backup.RData
R13437364_SL140.RData
Feb_14.RData
.RData
dists.RData
udp_expansion_matt/data/pickle_files/city_shp_presence_ph_LIHTC.csv
udp_expansion_matt/data/pickle_files/df.csv
udp_expansion_matt/data/pickle_files/2_18_2024.spydata
dists.RData
udp_expansion_matt/data/R_data/2_18.RData
udp_expansion_matt/d.RData
.RDataTmp1
.RDataTmp2
*.smcl
*.stswp
